@model BlogVM

@{
    ViewData["Title"] = "View";
    var item = Model.home.Data;
    var blogs = Model.listBlog;
    var imagePath = "https://cloud.squidex.io/api/assets/glviangle";
}


<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            @foreach (var data in item.homeSlider)
            {
                <li data-transition="parallaxvertical">
                    <img src="@imagePath/@data.bannerImage[0]" alt="" width="1920" height="705" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                    <div class="tp-caption sfl tp-resizeme thm-banner-h1"
                         data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="225"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="500">
                        @data.bannerTitle1
                    </div>
                    <div class="tp-caption sfr tp-resizeme thm-banner-h1 heavy"
                         data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="280"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="1000">
                        @data.bannerTitle2
                    </div>
                    <div class="tp-caption sfb tp-resizeme thm-banner-h3"
                         data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="353"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="1500">
                        @data.bannerSubtitle
                    </div>
                    <div class="tp-caption sfb tp-resizeme thm-banner-p"
                         data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="404"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="2000">
                        @data.bannerDescription
                    </div>
                    <div class="tp-caption sfl tp-resizeme"
                         data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="474"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="2300">
                        <a href="tel:@data.phoneNumber" class="thm-btn">Call us Today</a>
                    </div>
                    <div class="tp-caption sfr tp-resizeme"
                         data-x="left" data-hoffset="185"
                         data-y="top" data-voffset="474"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="2600">
                        <a href="@data.relativeLink" class="thm-btn inverse">Learn More</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>


<section class="call-to-action">
    <div class="container-fluid">
        <div class="clearfix">
            <div class="call-to-action-corner col-md-4" style="background-image: url(img/call-to-action/left-box-bg.jpg);">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-clock"></i>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3>OPEN HOURS</h3>
                        <ul>
                            <li><span>Monday - Friday</span> <span>9am - 10pm</span></li>
                            <li><span>Sunday</span> <span>Closed</span></li>
                            <li><span>Saturday</span> <span>Closed</span></li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="call-to-action-center col-md-4" style="background-image: url(img/call-to-action/center-box-bg.jpg);">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical"></i>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3>Appointment</h3>
                        <p>Appointment are available, call us <br> today or book a appoinment</p>
                        <a href="appointment.html" class="thm-btn inverse">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="call-to-action-corner col-md-4" style="background-image: url(img/call-to-action/right-box-bg.jpg);">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-coins"></i>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3>OLINE BILL SYSTEM</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum availabl <br> but the majority have </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sec-padding">
    <div class="container">
        <div class="sec-title text-center">
            <h2>We Specialize In</h2>
            <p>Lorem ipsum is a dummy text it will use for subtitle here</p>
            <span class="decor"><span class="inner"></span></span>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 ">
                <div class="single-specialize text-center">
                    <div class="icon-box">
                        <i class="flaticon-medical-1"></i>
                    </div>
                    <h3>Primary Health Care</h3>
                    <p>There are many variations of lorem <br>passagei of Lorem Ipsum available but the majority have </p>
                    <a href="service-details.html" class="thm-btn">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 ">
                <div class="single-specialize text-center">
                    <div class="icon-box">
                        <i class="flaticon-medical-3"></i>
                    </div>
                    <h3>Dental Treatment</h3>
                    <p>There are many variations of lorem <br>passagei of Lorem Ipsum available but the majority have </p>
                    <a href="service-details.html" class="thm-btn">Read More</a>
                </div>
            </div>
                <div class="col-md-4 col-sm-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-0">
                    <div class="single-specialize text-center">
                        <div class="icon-box">
                            <i class="flaticon-medical-2"></i>
                        </div>
                        <h3>Heart Treatment</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum available but the majority have </p>
                        <a href="service-details.html" class="thm-btn">Read More</a>
                    </div>
                </div>
        </div>

    </div>
</section>


<section class="full-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hidden-md hidden-sm hidden-xs">
                <img class="full-image pull-right" src="~/img/resources/full-image-1.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="full-sec-content">
                    <div class="sec-title style-two">
                        <h2>More about us</h2>
                        <span class="decor">
                            <span class="inner"></span>
                        </span>
                    </div>
                    <h3>We Provide Most Proffesional Service <br>Since 1978</h3>
                    <br>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem loremIpsum has been the industry's </p>
                    <br>
                    <p>since the 1500s, when an un known printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
                    <br>
                    <a href="about.html" class="thm-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="offer-wrapper">
    <div class="has-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-offer left">
                        <h3>FLORIDA SHOTS <span>immunization record</span></h3>
                        <p>Tracking  immunizations has never been easier or more secure with Florida SHOTS™. To print your child's record, you will need </p>
                        <a href="#" class="thm-btn">Print Now</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-offer right">
                        <h3>We Accpet Most Insurance</h3>
                        <p>Lorem Ipsum is dummy text  printing and typesetting industry. Lorem Ipsum has been the industry's of type and scrambled </p>
                        <a href="#">Use Our Insurance Checker <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="home-serivce sec-padding">
    <div class="container">
        <div class="sec-title text-center">
            <h2>We Specialize In</h2>
            <p>Lorem ipsum is a dummy text it will use for subtitle here</p>
            <span class="decor"><span class="inner"></span></span>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical-3"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Dental Department</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>
                        <a href="service-details.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical-4"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Cardiology</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>
                        <a href="service-details.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical-5"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Neurology</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>
                        <a href="service-details.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical-6"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Bond Binding</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>
                        <a href="service-details.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-people-2"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>X-Ray</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>
                        <a href="service-details.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-people-1"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Pregnency</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>
                        <a href="service-details.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sec-padding faq-home">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="sec-title style-two">
                    <h2>Why Choose us?</h2>
                    <span class="decor">
                        <span class="inner"></span>
                    </span>
                </div>
                <div class="accrodion-grp" data-grp-name="faq-accrodion">
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>
                                <span class="decor">
                                    <span class="inner"></span>
                                </span>
                                <span class="text">We are always carefull to our patient and service </span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Lorem Ipsum is simply du my text of the pritin industry. Lorm Ipsum hasbeen the industry's standardsdummy text eversince the 1500s,  when an unknown printer</p>
                            <p>took a galley of type and scramble it to make type specimen book. It has survived not only five centurie, but also the leap into</p>
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>
                                <span class="decor">
                                    <span class="inner"></span>
                                </span>
                                <span class="text">Book and appoinment with any specialist anytime</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Lorem Ipsum is simply du my text of the pritin industry. Lorm Ipsum hasbeen the industry's standardsdummy text eversince the 1500s,  when an unknown printer</p>
                            <p>took a galley of type and scramble it to make type specimen book. It has survived not only five centurie, but also the leap into</p>
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>
                                <span class="decor">
                                    <span class="inner"></span>
                                </span>
                                <span class="text">We offer lot of service in a best price</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Lorem Ipsum is simply du my text of the pritin industry. Lorm Ipsum hasbeen the industry's standardsdummy text eversince the 1500s,  when an unknown printer</p>
                            <p>took a galley of type and scramble it to make type specimen book. It has survived not only five centurie, but also the leap into</p>
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>
                                <span class="decor">
                                    <span class="inner"></span>
                                </span>
                                <span class="text">Online payment seystem with different method</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Lorem Ipsum is simply du my text of the pritin industry. Lorm Ipsum hasbeen the industry's standardsdummy text eversince the 1500s,  when an unknown printer</p>
                            <p>took a galley of type and scramble it to make type specimen book. It has survived not only five centurie, but also the leap into</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 hidden-md">
                <div class="img-masonary">
                    <div class="img-w1">
                        <img src="~/img/faq/1.jpg" height="450" width="280" alt="">
                    </div>
                    <div class="img-w1 img-h1">
                        <img src="~/img/faq/2.jpg" height="450" width="280" alt="">
                    </div>
                    <div class="img-w1 img-h1">
                        <img src="~/img/faq/3.jpg" height="450" width="280" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="fact-counter-wrapper sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4">
                <h2>We are served since <b>35 years</b> <br>to our customer with trust and <br>we are happy</h2>
                <a href="#" class="thm-btn inverse">Be a part of us</a>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="single-fact">
                    <div class="icon-box">
                        <i class="flaticon-cup"></i>
                    </div>
                    <span class="timer" data-from="10" data-to="365" data-speed="5000" data-refresh-interval="50">365</span>
                    <p>Total Awards</p>
                </div>
                <div class="single-fact">
                    <div class="icon-box">
                        <i class="flaticon-people-3"></i>
                    </div>
                    <span class="timer" data-from="10" data-to="155" data-speed="5000" data-refresh-interval="50">155</span>
                    <p>Total Doctors</p>
                </div>
                <div class="single-fact">
                    <div class="icon-box">
                        <i class="flaticon-other"></i>
                    </div>
                    <span class="timer" data-from="10" data-to="2200" data-speed="5000" data-refresh-interval="50">2200</span>
                    <p>Total Beds</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sec-padding meet-doctors">
    <div class="container">
        <div class="sec-title text-left">
            <h2>Meet Our Doctors</h2>
            <p>Lorem ipsum is a dummy text it will use for subtitle here</p>
            <span class="decor"><span class="inner"></span></span>
        </div>
        <div class="clearfix">
            <div class="team-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/1.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Dr. Muhibbur Rashid</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/2.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>DR. Rashed Kabir</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/3.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>DR. Jannatul Ferdous</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/4.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>DR. Ashikur Rahman</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/1.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Dr. Muhibbur Rashid</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/2.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>DR. Rashed Kabir</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/3.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>DR. Jannatul Ferdous</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/4.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>DR. Ashikur Rahman</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sec-padding testimonials-wrapper">
    <div class="container">
        <div class="sec-title colored text-center">
            <h2>Testimonials</h2>
            <span class="decor">
                <span class="inner"></span>
            </span>
        </div>
        <div class="testimonaials-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog-home sec-padding">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Latest News</h2>
            <p>Lorem ipsum is a dummy text it will use for subtitle here</p>
            <span class="decor">
                <span class="inner"></span>
            </span>
        </div>
        <div class="row">
            @foreach (var blog in blogs)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog-post">
                        <div class="img-box">
                            <img src="@imagePath/@blog.Data.thumbnail[0]" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="blog-details.html"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-box">
                            <div class="date-box">
                                <div class="inner">
                                    <div class="date">
                                        @Html.Raw(blog.Data.dateCreate) 
                                    </div>
                                    <div class="comment">
                                        <i class="flaticon-interface-1"></i> 8
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <a href="/blog-detail/@blog.Id"><h3>Lates blog post with image</h3></a>
                                <p>@blog.Data.description</p>
                                <span>Tag: <a href="blog-details.html">doctor, medicine</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>