@model Glviangle.WebApp.Models.BlogModel.BlogVM;

@{
    ViewData["Title"] = "View";
    var item = Model.home.Data;
    var blogs = Model.listBlog;
    var imagePath = "https://cloud.squidex.io/api/assets/glviangle";
}


<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            @foreach (var data in item.homeSlider)
            {
                <li data-transition="parallaxvertical">
                    <img src="@imagePath/@data.bannerImage[0]" alt="" width="1920" height="705" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                    <div class="tp-caption sfl tp-resizeme thm-banner-h1"
                         data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="225"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="500">
                        @data.bannerTitle1
                    </div>
                    <div class="tp-caption sfr tp-resizeme thm-banner-h1 heavy"
                         data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="280"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="1000">
                        @data.bannerTitle2
                    </div>
                    <div class="tp-caption sfb tp-resizeme thm-banner-h3"
                         data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="353"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="1500">
                        @data.bannerSubtitle
                    </div>
                    <div class="tp-caption sfb tp-resizeme thm-banner-p"
                         data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="404"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="2000">
                        @data.bannerDescription
                    </div>
                    <div class="tp-caption sfl tp-resizeme"
                         data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="474"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="2300">
                        <a href="tel:@data.phoneNumber" class="thm-btn">Gọi ngay</a>
                    </div>
                    <div class="tp-caption sfr tp-resizeme"
                         data-x="left" data-hoffset="185"
                         data-y="top" data-voffset="474"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="2600">
                        <a href="/@data.relativeLink" class="thm-btn inverse">Tư vấn trực tuyến</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>


<section class="call-to-action">
    <div class="container-fluid">
        <div class="clearfix">
            <div class="call-to-action-corner col-md-4" style="background-image: url(img/call-to-action/left-box-bg.jpg);">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-clock"></i>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3>LỊCH LÀM VIỆC</h3>
                        <ul>
                            <li><span>Thứ hai - Thứ sáu</span> <span>9am - 4am</span></li>
                            <li><span>Thứ bảy</span> <span>9am - 12am</span></li>
                            <li><span>Chủ nhật</span> <span>9am - 12am</span></li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="call-to-action-center col-md-4" style="background-image: url(img/call-to-action/center-box-bg.jpg);">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical"></i>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3>ĐẶT LỊCH</h3>
                        <p>Bạn muốn một cuộc gặp mặt trực tiếp <br> để các bác sĩ rõ hơn về tình trạng của bạn</p>
                        <a href="/booking" class="thm-btn inverse">Đặt lịch ngay</a>
                    </div>
                </div>
            </div>
            <div class="call-to-action-corner col-md-4" style="background-image: url(img/call-to-action/right-box-bg.jpg);">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-ambulance"></i>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3>KHẨN CẤP</h3>
                        <p>Tìm ngay các bệnh viện gần bạn <br> khi có các tai nạn bất ngờ xảy ra</p>
                        <a href="/near-place" class="thm-btn inverse">Tìm bệnh viện</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sec-padding">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Chúng Tôi Chuyên Về</h2>
            <p>ĐỒNG HÀNH CÙNG BẠN - VƯỢT CẠN AN TOÀN</p>
            <span class="decor"><span class="inner"></span></span>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 ">
                <div class="single-specialize text-center">
                    <div class="icon-box">
                        <i class="flaticon-medical-1"></i>
                    </div>
                    <h3>Chăm Sóc Sức Khỏe Ban Đầu</h3>
                    <p>Hiện nay, với những thay đổi nhanh chóng về mô hình bệnh tật <br/> đã nói lên tầm quan trọng chiến lược của của sức khỏe.</p>
                    <a href="service-details.html" class="thm-btn">Xem thêm</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 ">
                <div class="single-specialize text-center">
                    <div class="icon-box">
                        <i class="flaticon-medical-3"></i>
                    </div>
                    <h3>Điều Trị Nha Khoa</h3>
                    <p>Viêm nha chu, còn được gọi là bệnh nướu răng <br>là một bệnh nhiễm trùng nướu răng nghiêm trọng làm tổn thương mô mềm và nếu không điều trị </p>
                    <a href="service-details.html" class="thm-btn">Xem thêm</a>
                </div>
            </div>
                <div class="col-md-4 col-sm-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-0">
                    <div class="single-specialize text-center">
                        <div class="icon-box">
                            <i class="flaticon-medical-2"></i>
                        </div>
                        <h3>Điều Trị Tim</h3>
                        <p>Bệnh tim là nguyên nhân gây tử vong hàng đầu, <br>gây ra khoảng 1/4 trường hợp tử vong.</p>
                        <a href="service-details.html" class="thm-btn">Xem thêm</a>
                    </div>
                </div>
        </div>

    </div>
</section>


<section class="full-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hidden-md hidden-sm hidden-xs">
                <img class="full-image pull-right" src="~/img/resources/full-image-1.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="full-sec-content">
                    <div class="sec-title style-two">
                        <h2>Thông tin về chúng tôi</h2>
                        <span class="decor">
                            <span class="inner"></span>
                        </span>
                    </div>
                    <h3>Chúng tôi cung cấp dịch vụ chuyên nghiệp nhất <br>Kể từ năm 1978</h3>
                    <br>
                    <p>Chúng tôi đã giúp cho nhiều khách hàng dễ dàng tìm được nơi để khám chữa bệnh một cách nhanh chóng nhất</p>
                    <br>
                    <p>Chúng tôi luôn có tư vấn viên 24/24 liên tục hỗ trợ khách hàng, tư vấn tận tình hỗ trợ cho khách hàng có thể tìm đến được các phòng khám, bệnh viện phù hợp.</p>
                    <br>
                    <a href="about.html" class="thm-btn">Đọc thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="offer-wrapper">
    <div class="has-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-offer left">
                        <h3>FLORIDA SHOTS <span>Hồ sơ tiêm chủng</span></h3>
                        <p>Theo dõi chủng ngừa chưa bao giờ dễ dàng hoặc an toàn hơn với Florida SHOTS ™. Để in hồ sơ của con bạn, bạn sẽ cần</p>
                        <a href="#" class="thm-btn">In ngay</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-offer right">
                        <h3>Chúng tôi tích lũy được nhiều bảo hiểm nhất</h3>
                        <p>Chúng tôi cung cấp các dịch vụ bảo hiểm mang lại nhiều phúc lợi cho các khách hàng tiềm năng</p>
                        <a href="#">Sử dụng công cụ kiểm tra bảo hiểm của chúng tôi <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="home-serivce sec-padding">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Chúng tôi chuyên về</h2>
            <p>GIEO MẦM HY VỌNG - GẶT TRỌN YÊU THƯƠNG</p>
            <span class="decor"><span class="inner"></span></span>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical-3"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Nha Khoa</h3>
                        <p>Chúng tôi giới thiệu, đặt lịch cho khách hàng các nha khoa có chuyên môn về răng, miệng <br>cũng như xương hàm, nướu và mạc mô trong miệng <br> gồm luôn cả các phần gần xương mặt và má </p>
                        <a href="service-details.html">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical-4"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Tim Mạch</h3>
                        <p>Chúng tôi giới thiệu, đặt lịch cho khách hàng các phòng khám, <br>bệnh viện có chuyên môn về các bệnh tim mạch <br> như: Nhồi máu cơ tim, suy tim, viêm cơ tim ... </p>
                        <a href="service-details.html">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical-5"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Thần Kinh Học</h3>
                        <p>Chúng tôi giới thiệu,đặt lịch cho khách hàng các phòng khám <br>bệnh viện có chuyên môn về hệ thần kinh<br> but the majority have </p>
                        <a href="service-details.html">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical-6"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Cấy ghép</h3>
                        <p>TChúng tôi giới thiệu, đặt lịch cho khách hàng các bệnh viện <br>có trình độ chuyên môn về cấy ghép <br>cũng như có các thiết bị máy móc hiện đại, phù hợp.</p>
                        <a href="service-details.html">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-people-2"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>X-Ray</h3>
                        <p>Chúng tôi sẽ giới thiệu, đặt lịch cho khách hàng các phòng khám <br>bệnh viện các các máy móc, thiết bị <br> để giúp tiến hành các chụp, kiểm tra nhiều bộ phận của cơ thể </p>
                        <a href="service-details.html">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-people-1"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Thai Kỳ</h3>
                        <p>Chúng tôi sẽ giới thiệu, đặt lịch cho khách hàng các phòng khám<br>bệnh viện có các thiết bị, máy móc <br> kiểm tra, hỗ trợ cho các mẹ cũng như các thai nhi</p>
                        <a href="service-details.html">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sec-padding faq-home">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="sec-title style-two">
                    <h2>Tại Sao Chọn Chúng Tôi ?</h2>
                    <span class="decor">
                        <span class="inner"></span>
                    </span>
                </div>
                <div class="accrodion-grp" data-grp-name="faq-accrodion">
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>
                                <span class="decor">
                                    <span class="inner"></span>
                                </span>
                                <span class="text">Chúng tôi luôn quan tâm đến bệnh nhân và dịch vụ của chúng tôi </span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Chúng tôi luôn đặt sức khoẻ của bệnh nhân lên hàng đầu, đảm bảo bệnh nhân khi đến với chúng tôi, chúng tôi sẽ mang lại sự hài lòng, phục vụ tận tình cho các bệnh nhân.</p>
                            <p>took a galley of type and scramble it to make type specimen book. It has survived not only five centurie, but also the leap into</p>
                            
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>
                                <span class="decor">
                                    <span class="inner"></span>
                                </span>
                                <span class="text">Đặt chỗ và đăng ký với bất kỳ chuyên gia nào bất kỳ lúc nào</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>took a galley of type and scramble it to make type specimen book. It has survived not only five centurie, but also the leap into</p>
                            <p>Đồng thời nếu khách hàng, bệnh nhân vẫn chưa có chỗ đặt hay chuyên gia điều trị thì sẽ có nhân viên tư vấn để chọn được phòng khám, bệnh viện phù hợp</p>
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>
                                <span class="decor">
                                    <span class="inner"></span>
                                </span>
                                <span class="text">Chúng tôi cung cấp nhiều dịch vụ với giá tốt nhất</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Chúng tôi cũng có rất nhiều dịch vụ với giá tốt như là bảo hiểm, các quà tặng, phúc lợi hàng tháng</p>
                            <p>Khi là thành viên của chúng tôi các bạn sẽ được nhiêu ưu đãi hấp dẫn, khi đặt lịch khám, chữa bệnh thì sẽ được chúng tôi sắp xếp một cách nhanh chóng nhất có thể</p>
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>
                                <span class="decor">
                                    <span class="inner"></span>
                                </span>
                                <span class="text">Hệ thống thanh toán trực tuyến với các phương thức khác nhau</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Chúng tôi tạo ra nhiều phương thức thanh toán cho khách hàng để phục vụ việc chi trả được thuận lợi và nhanh chóng</p>
                            <p>Các hệ thống thanh toán luôn xử lý một cách nhanh chóng để không mất nhiều thời gian của khách hàng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 hidden-md">
                <div class="img-masonary">
                    <div class="img-w1">
                        <img src="~/img/faq/1.jpg" height="450" width="280" alt="">
                    </div>
                    <div class="img-w1 img-h1">
                        <img src="~/img/faq/2.jpg" height="450" width="280" alt="">
                    </div>
                    <div class="img-w1 img-h1">
                        <img src="~/img/faq/3.jpg" height="450" width="280" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="fact-counter-wrapper sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4">
                <h2>Chúng tôi được phục vụ từ<b>35 năm</b> <br>cho khách hàng của chúng tôi với sự tin tưởng và <br>chúng tôi hạnh phúc</h2>
                <a href="#" class="thm-btn inverse">Hãy là thành viên của chúng tôi</a>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="single-fact">
                    <div class="icon-box">
                        <i class="flaticon-cup"></i>
                    </div>
                    <span class="timer" data-from="10" data-to="365" data-speed="5000" data-refresh-interval="50">365</span>
                   <p>Tổng giải thưởng</p>
                </div>
                <div class="single-fact">
                    <div class="icon-box">
                        <i class="flaticon-people-3"></i>
                    </div>
                    <span class="timer" data-from="10" data-to="155" data-speed="5000" data-refresh-interval="50">155</span>
                    <p>Tổng số bác sĩ</p>
                </div>
                <div class="single-fact">
                    <div class="icon-box">
                        <i class="flaticon-other"></i>
                    </div>
                    <span class="timer" data-from="10" data-to="2200" data-speed="5000" data-refresh-interval="50">2200</span>
                    <p>Tổng số giường</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sec-padding meet-doctors">
    <div class="container">
        <div class="sec-title text-left">
            <h2>Gặp gỡ các bác sĩ của chúng tôi</h2>
            <p>Bác sĩ của chúng tôi ân cần, mỉm cười với bệnh nhân</p>
            <span class="decor"><span class="inner"></span></span>
        </div>
        <div class="clearfix">
            <div class="team-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/1.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Dr. Muhibbur Rashid</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/2.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>DR. Rashed Kabir</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/3.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>DR. Jannatul Ferdous</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/4.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>DR. Ashikur Rahman</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/1.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Dr. Muhibbur Rashid</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/2.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>DR. Rashed Kabir</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/3.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>DR. Jannatul Ferdous</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member">
                        <div class="img-box">
                            <img src="~/img/team/4.jpg" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>DR. Ashikur Rahman</h3>
                        <span>Heart Specialist</span>
                        <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum mediocritatem.</p>
                        <a href="doctor-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sec-padding testimonials-wrapper">
    <div class="container">
        <div class="sec-title colored text-center">
            <h2>Lời chứng thực</h2>
            <span class="decor">
                <span class="inner"></span>
            </span>
        </div>
        <div class="testimonaials-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Sức khỏe của tôi hiện tại được ổn định, mạnh khỏe là phần lớn công sức của các Bác sĩ, y tá trong bệnh viện. </p>
                    <h3>Nguyễn Bảo Lân</h3>
                    <span>Bình Dương</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                     <p>Tôi cảm thấy mình may mắn khi đã đến chữa bệnh ở Bệnh viện.</p>
                    <h3>Tuyên Phan</h3>
                    <span>Hóc Môn</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                     <p>Lời đầu tiên tôi xin gửi lời cảm ơn đến các Bác sĩ và Y tá bệnh viện. Sức khỏe của tôi bây giờ đã rất tốt và ổn định.</p>
                    <h3>Dương Đức Khánh</h3>
                    <span>Quận 1</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Bệnh viện đã đem lại cho tôi những trải nghiệm ý khoa tốt nhất.</p>
                    <h3>Ngô Phương Lan</h3>
                    <span>Thủ Đức</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                   <p>Trong thời gian điều trị nội trú tại Bệnh viện, tôi cảm thấy yên bình.</p>
                    <h3>Nguyễn Thuỳ Linh</h3>
                    <span>Kiên Giang</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Tôi rất hài lòng về sự phục vụ của Bác Sĩ và Y Tá chữa trị hằng ngày. </p>
                    <h3>Nguyễn Thuỳ Dương</h3>
                    <span>Long An</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
            <div class="item">
                <div class="single-testimonaials">
                    <div class="qoute-box">
                        <i class="qoute">“</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
                    <h3>Roberto Carlos</h3>
                    <span>Patient of Asthama</span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog-home sec-padding">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Tin mới nhất</h2>
            <p>Chúng tôi luôn cập nhật thông tin hàng ngày</p>
            <span class="decor">
                <span class="inner"></span>
            </span>
        </div>
        <div class="row">
            @foreach (var blog in blogs)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog-post">
                        <div class="img-box">
                            <img src="@imagePath/@blog.Data.thumbnail[0]" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="/blogs/@blog.Id"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-box">
                            <div class="date-box">
                                <div class="inner">
                                    <div class="date">
                                        @Html.Raw(blog.Data.dateCreate) 
                                    </div>
                                    <div class="comment">
                                        <i class="flaticon-interface-1"></i> 8
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <a href="/blogs/@blog.Id"><h3>Lates blog post with image</h3></a>
                                <p>@blog.Data.description</p>
                                <span>Tag: <a href="blog-details.html">doctor, medicine</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>