include ../Button/index.pug
mixin promotion(blocks)
  each block in blocks 
    .block-promotion-item
      .item-image 
        img.hide-sm(src=`${block.imagePC}`, alt="")
        img.hide-md(src=`${block.imageMB}`, alt="")
      .group-item
        .item-title 
          h4!= block.title
        .item-information 
          .calendar
            i(class="fa fa-calendar" aria-hidden="true")
            span!= block.dateFrom
            span - 
            span!= block.dateTo
          .place
            i(class="fa fa-medkit" aria-hidden="true")  
            span Địa điểm 
            span!= block.place 
        .item-description 
          p!= block.description
        +button({content: 'view details', iconClass: 'fa-angle-right', nobg: true})

