@model Glviangle.WebApp.Models.ServiceModel.ServiceVM
@{ 
	var imagePath = "https://cloud.squidex.io/api/assets/glviangle";
	var services = Model.services;
	var specializes = Model.specializes;
}
	<section class="sec-padding">
		<div class="container">
			<div class="sec-title text-center">
				<h2>Chúng tôi chuyên về</h2>
				<p>Các khoa được miêu tả dưới đây</p>
				<span class="decor"><span class="inner"></span></span>
			</div>
			
			<div class="row">
				@foreach(var specialize in specializes)
				{
				<div class="col-md-4">
					<div class="single-specialize text-center">
						<div class="icon-box">
							<i class="@specialize.Data.thumbnailIcon"></i>
						</div>
						<h3>@specialize.Data.title</h3>
						<p>@Html.Raw(specialize.Data.description)</p>
						<a href="/services/@specialize.Id" class="thm-btn">Read More</a>
					</div>
				</div>
				} 
			</div>

		</div>
	</section>		
	<section class="offer-wrapper">
    <div class="has-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-offer left">
                        <h3>FLORIDA SHOTS <span>Hồ sơ tiêm chủng</span></h3>
                        <p>Theo dõi chủng ngừa chưa bao giờ dễ dàng hoặc an toàn hơn với Florida SHOTS ™. Để in hồ sơ của con bạn, bạn sẽ cần</p>
                        <a href="#" class="thm-btn">In ngay</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-offer right">
                        <h3>Chúng tôi tích lũy được nhiều bảo hiểm nhất</h3>
                        <p>Chúng tôi cung cấp các dịch vụ bảo hiểm mang lại nhiều phúc lợi cho các khách hàng tiềm năng</p>
                        <a href="#">Sử dụng công cụ kiểm tra bảo hiểm của chúng tôi <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

	<section class="home-serivce sec-padding">
		<div class="container">
			<div class="sec-title text-center">
				<h2>Dịch vụ của chúng tôi</h2>
				<p>Chúng tôi chuyên về các khoa sau</p>
				<span class="decor"><span class="inner"></span></span>
			</div>
			<div class="row">
				@foreach(var service in services)
            {
					<div class="col-md-4">
					<div class="single-service-home">
						<div class="icon-box">
							<div class="inner-box">
								<i class="@service.Data.thumbnailIcon"></i>
							</div>
						</div>
						<div class="content">
							<h3>@service.Data.title</h3>
							<p>@Html.Raw(service.Data.description)</p>
							<a href="/services/@service.Id">Read More</a>
						</div>
					</div>
				</div>
            }
				
			</div>
		</div>
	</section>
	<section class="sec-padding faq-home">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="sec-title style-two">
                    <h2>Tại Sao Chọn Chúng Tôi ?</h2>
                    <span class="decor">
                        <span class="inner"></span>
                    </span>
                </div>
                <div class="accrodion-grp" data-grp-name="faq-accrodion">
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>
                                <span class="decor">
                                    <span class="inner"></span>
                                </span>
                                <span class="text">Chúng tôi luôn quan tâm đến bệnh nhân và dịch vụ của chúng tôi </span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Chúng tôi luôn đặt sức khoẻ của bệnh nhân lên hàng đầu, đảm bảo bệnh nhân khi đến với chúng tôi, chúng tôi sẽ mang lại sự hài lòng, phục vụ tận tình cho các bệnh nhân.</p>
                            <p>took a galley of type and scramble it to make type specimen book. It has survived not only five centurie, but also the leap into</p>
                            
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>
                                <span class="decor">
                                    <span class="inner"></span>
                                </span>
                                <span class="text">Đặt chỗ và đăng ký với bất kỳ chuyên gia nào bất kỳ lúc nào</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>took a galley of type and scramble it to make type specimen book. It has survived not only five centurie, but also the leap into</p>
                            <p>Đồng thời nếu khách hàng, bệnh nhân vẫn chưa có chỗ đặt hay chuyên gia điều trị thì sẽ có nhân viên tư vấn để chọn được phòng khám, bệnh viện phù hợp</p>
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>
                                <span class="decor">
                                    <span class="inner"></span>
                                </span>
                                <span class="text">Chúng tôi cung cấp nhiều dịch vụ với giá tốt nhất</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Chúng tôi cũng có rất nhiều dịch vụ với giá tốt như là bảo hiểm, các quà tặng, phúc lợi hàng tháng</p>
                            <p>Khi là thành viên của chúng tôi các bạn sẽ được nhiêu ưu đãi hấp dẫn, khi đặt lịch khám, chữa bệnh thì sẽ được chúng tôi sắp xếp một cách nhanh chóng nhất có thể</p>
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>
                                <span class="decor">
                                    <span class="inner"></span>
                                </span>
                                <span class="text">Hệ thống thanh toán trực tuyến với các phương thức khác nhau</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Chúng tôi tạo ra nhiều phương thức thanh toán cho khách hàng để phục vụ việc chi trả được thuận lợi và nhanh chóng</p>
                            <p>Các hệ thống thanh toán luôn xử lý một cách nhanh chóng để không mất nhiều thời gian của khách hàng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 hidden-md">
                <div class="img-masonary">
                    <div class="img-w1">
                        <img src="~/img/faq/1.jpg" height="450" width="280" alt="">
                    </div>
                    <div class="img-w1 img-h1">
                        <img src="~/img/faq/2.jpg" height="450" width="280" alt="">
                    </div>
                    <div class="img-w1 img-h1">
                        <img src="~/img/faq/3.jpg" height="450" width="280" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

