include ./../ButtonSprin/index.pug
mixin Form({ fields, recaptcha, button, formId })
  .form-submit
    form(id=formId)
      each val,key in fields
        .form-submit__group(data-field-name=key max=val.max min=val.min fix=val.fix data-disabled=val.disabled)
          .form-submit__input
            case val.type
              when 'hidden'
                input(type='hidden' name=key value=val.value readonly=val.disabled)
              when 'checkbox'
                input(type=val.type id=key name=key value=val.value checked=val.checked readonly=val.disabled)
                if val.label
                  label.checkbox(for=key data-required=val.required)!=val.label

              when 'switch'
                input(type="checkbox" id=key name=key value=val.value checked=val.checked readonly=val.disabled)
                if val.label
                  label.checkbox(for=key data-required=val.required)!=val.label

              when 'radio'
                if val.label
                  label.label(data-required=val.required)!=val.label
                each op, i in val.options
                  .form-submit__input--radio
                    input(type=val.type id=`${key}-${i}` name=key value=op.val readonly=val.disabled)
                    label.radio(for=`${key}-${i}`)!=op.name

              when 'selectAsync'
                if val.label
                  label.label(for=key data-required=val.required)!=val.label
                .custom-select.select-async
                  select(name=key id=key autocomplete="off" readonly=val.disabled)
                    option(value="&nbsp;")!=val.placeholder

              when 'dateOfBirth'
                if val.label
                  label.label(for=key data-required=val.required)!=val.label
                include ./DateOfBirth/index.pug
                +DateOfBirth(key)

              when 'select'
                if val.label
                  label.label(for=key data-required=val.required)!=val.label
                .custom-select.select
                  select(name=key id=key autocomplete="off" readonly=val.disabled)
                    option(value="&nbsp;")!=val.placeholder
                    each op in val.options
                      option(value=op.val)!=op.name

              when 'textarea'
                if val.label
                  label.label(for=key data-required=val.required)!=val.label
                textarea(name=key id=key readonly=val.disabled)!=val.placeholder

              when 'file'
                if val.label
                  label.label(for=key data-required=val.required)!=val.label
                label.form-submit__input__file(for=key data-required=val.required)
                  span.placeholder
                    span!=val.placeholder
                    span.placeholder-file
                  i.fal.fa-arrow-from-top
                  input(type="file" name=key id=key multiple=val.multiple readonly=val.disabled)

              default
                if val.label
                  label.label(for=key data-required=val.required)!=val.label
                input(type=val.type id=key name=key value=val.value placeholder=val.placeholder new-password=val.type === 'password' autocomplete=`${val.disabled ? "off" : ""}` readonly=val.disabled)
            if val.tip
              .tip.js-sticky
                span.sticky_more_info(data-sticky=val.tip.value) ?
                | &nbsp;&nbsp;
                span.sticky_more_title!=val.tip.title
          .form-submit__error
            span

      if recaptcha
        .form-submit__group.recaptcha
          #recaptcha.g-recaptcha(data-sitekey=recaptcha.key)
        script(src='https://www.google.com/recaptcha/api.js')

      .form-submit__group.form-submit__group--btn
        button.btn.btn.btn-spin(type='submit' class=button.className)
          span.btn-spin-text!=button.name
          span.btn-spin-icon
            span.anticon
              svg.anticon-spin(viewbox='0 0 1024 1024' focusable='false' data-icon='loading' width='1em' height='1em' fill='currentColor' aria-hidden='true')
                path(d='M988 548c-19.9 0-36-16.1-36-36 0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 00-94.3-139.9 437.71 437.71 0 00-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.3C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3.1 19.9-16 36-35.9 36z')
      if block
        block


