include ../ButtonSprin/index.pug
mixin Card({ image = {}, content = {} ,action={},color={}})
  .card.loading&attributes(attributes)
    if content.label
      .card-meta-label
        span.card-meta-label-desc!=content.label
    if image.active
      .card-cover
        img(data-src=image.src, data-is-firstload=image.firstload, src="https://www.samsung.com/etc/designs/smg/global/imgs/support-new/loading.gif" alt="Samsung" lazy)
    if color.active
      .products-colors
        span.products-color(style={'background-color': '#bb9088'})
        span.products-color.active(style={'background-color': '#192e7e'})
    if content.active
      .card-body
        .card-meta
          .card-meta-detail
            if block
              block
            else
              .card-meta-title!=content.title
              if content.description
                .card-meta-description!=content.description
              else
                .card-meta-description
    if (action.active)
      .card-action
        +ButtonSprin( { name: action.name} )(class=`card-action-btn ${action.className}` href=action.href)
