mixin button(content)
  if content.nobg == false
    a.custom-button(href=`${(!content.url) ? '#' : content.url}`, target="_blank")
      if content.iconClass == ""
        span!= content.content
      else   
        span!= content.content
        i(class=`fa ${content.iconClass}`, aria-hidden="true")
  else 
    a.custom-button.nobg(href=`${(!content.url) ? '#' : content.url}`, target="_blank")
      if content.iconClass == ""
        span!= content.content
      else   
        span!= content.content
        i(class=`fa ${content.iconClass}`, aria-hidden="true")
